body{
    text-align: center;
    background: linear-gradient(to top left, gray, lightgray, blue, pink, red, yellow, white, purple, aqua, indigo, violet, green, lightgreen, black, darkgray, darkred);
}
#just{
  font-size: 25;
  float:right;
  margin-right: 175px;
  color:white;
  margin-bottom: 35px;
}
#timer{
    font-size: 25px;
    float: right;
    margin-right: -775px;
    color:white;
}
#score{
    font-size: 25px;
    float: left;
    margin-left: 45px;
    color: white;
}
#Sketch2bedrawn{
    color:white;
}
p{
    color: white;
}
h1
{
  font-family: 'Special Elite', fantasy;
  color:rgb(0, 0, 0);
  background-color: cornsilk;
}

#show_sketch
{
  float:right;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }
  h3{
    color:#ffffff
  }
